Hello, <%= @user.name %>

You have have been designated as the Site Representative for <%= @school.name %>.<br>

You now have access to the admin portal, which can be viewed <a href="one-hund-black-parents.herokuapp.com/admin">here</a>. Please use that link for managing your schools' information.

Thank you for volunteering!