<div>
  There is no site representative for this site. Claim it <button type="button" id="request-form-button">here!</button>
</div>

<div id="requestGreyBackground" class="requestGreyBackground">
  <div class="requestFormWrapper">
    <h3>Request to become a Site Representative</h3>
    <form id="requestForm>
      

      <input type="submit" value="Submit Request" />
    </form>
  </div>
</div>