<form id="selector-form">
  <div>
    <label for="grade-level">Select grade level: </label>
    <select name="grade-level" id="grade-selector">
      <option value="" selected>All Schools</option>
      <option value="elementary">Elementary</option>
      <option value="k-8">K-8</option>
      <option value="middle">Middle</option>
      <option value="high">High</option>
    </select>
  </div>

  <div>
    <select name="school-selector" id="school-selector">
      <option value="" selected></option>
      <%= schools.sort_by{|s| s.name }.each do |school| %>
        <option value=<%= school.id %> data-grade-level=<%= school.grade_level %>>
          <%= school.name %>
        </option>
      <% end %>
    </select>
  </div>

  <input type="submit" value="Select School" />
</form>