<form id="school-selector">
  <div>
    <label for="grade_level">Select grade level: </label>
    <select name="grade_level">
      <option value="" selected></option>
      <option value="elementary">Elementary</option>
      <option value="k-8">K-8</option>
      <option value="middle">Middle</option>
      <option value="high">High</option>
    </select>
  </div>

  <input type="submit" value="Select School" />
</form>