<div id="sidebar">
  <!-- <NavigationMenu
    school={this.state.school_data}
    district_id={this.state.school_data.district.id} /> -->
  <%= render "partials/school_selector", schools:schools %>
  <div class="ad panel">Panel Ad</div>
  <div class="ad panel">Panel Ad</div>
</div>