<div id="sidebar">
  <%= render "partials/school_selector", schools:schools %>
  <div id="navMenu">
    <% if @school %>
      <div id="nav-contact">

        <strong>Phone: </strong><%= @school.phone %><br />
        <strong>Address: </strong><%= @school.address.html_safe %><br />
        <a href=<%= @school.homepage_url %> target="_">School Homepage</a><br />
        <a href=`/districts/1`>District Page</a>
      </div>
    <% end %>
  </div>
  <div class="ad square">Panel Ad</div>
  <div class="ad square">Panel Ad</div>
</div>