<div id="school-page">
  <div id="top-banner">
    <h1><%= @school.name %></h1>
    <%= render "partials/contact_info", contact: @school.site_rep %>
    <!-- {this.state.showEventForm ?
      <RequestForm
        eventData={this.state.eventFormData}
        closeOnClick={this.closeOnClick}
        createEvent={this.createEvent.bind(this)}
      /> : null} -->
    <div class="banner"></div>
  </div>
  <!--
  <div id="sidebar">
    <NavigationMenu
      school={this.state.school_data}
      district_id={this.state.school_data.district.id} />
    <SchoolSelector schools={this.state.school_data.district.schools} dist_id={this.state.school_data.district.id} history={this.props.history}/>
    <div class="panel"></div>
    <div class="panel"></div>
  </div>
  -->
  <%= render partial: 'partials/blogs' %>
  <%= render partial: 'partials/events' %>
</div>