body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#page-wrapper {
  flex: 1 0 auto;
  background: lightblue;
}

header {
  position: absolute;
  top: 0px;
  right: 0px;
  color: lightskyblue;
  margin: 5px 10px;
  z-index: 100;

  a {
    color: lightskyblue;
  }
}

footer {
  width: 100%;
  height: 100px;
  background: black;
  color: white;
  flex-shrink: 0;
}

#school-page, #district-page {
  display: grid;
  grid-template-columns: 1fr 1fr 0fr;
  grid-template-rows: 0fr auto;
  grid-template-areas: 
  "title title title"
  "blogs events sidebar";
}

/* ad styling */
.ad {
  background: lightcoral;
  margin: 5px;
}

.panel {
  width: 300px;
  height: 250px;
}

.banner {
  width: 728px;
  height: 90px;
}

.rounded-circle {
  border-radius: 15%;
}

.alert {
  width: 80%;
  margin-top: 20px;
  margin-right: 10%;
  margin-left: 10%;
}

.alert-success {
  border: 3px solid darkgreen;
  background: lightgreen;
}

.alert-danger {
  border: 3px solid darkred;
  background: coral;
}

.alert-warning {
  border: 3px solid darkorange;
  background: tan;
}